trigger:
  - release-*

pr:
  branches:
    include:
    - master
    - stable


jobs:
- template: azure-coretest.yml
  parameters:
    pythons:
      py36:
        spec: '3.6'
      py37:
        spec: '3.7'
      py38:
        spec: '3.8'
      py39:
        spec: '3.9'
      py310:
        spec: '3.10'
    platforms: [linux, windows, macOs]

- job: flake8
  pool:
    vmImage: 'Ubuntu-latest'
  steps:
    - task: UsePythonVersion@0
      inputs:
        versionSpec: '3.10'

    - script: pip install -U tox
      displayName: Install tox

    - script: pip install -r requirements-flake8.txt
      displayName: Install flake8 & plugins

    - script: tox -e flake8
      displayName: Lint the codebase

- job: testdir_coverage
  pool:
    vmImage: 'Ubuntu-latest'
  steps:
    - task: UsePythonVersion@0
      inputs:
        versionSpec: '3.10'

    - script: pip install -r requirements-ci.txt
      displayName: Install CI requirements

    - script: pytest --cov
      displayName: Run pytest with coverage

    - script: coverage report --include="tests/*" --fail-under=100
      displayName: Check 100% test execution
